<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Certificados</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">De Interés</span></li>
<!--            <li><span class="filter" data-filter="catWeb">Web Design</span></li>&ndash;&gt;&ndash;&gt;-->
<!--            <li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>&ndash;&gt;-->
<!--            <li><span class="filter" data-filter="catMotion">Motion Graphic</span></li>&ndash;&gt;-->
<!--            <li><span class="filter" data-filter="logo">Logo</span></li>&ndash;&gt;-->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/Autodesk Revit 2020_1.png" rel="portfolio" title=" Autodesk Revit 2020">
                        <img src="images/portfolio/Autodesk Revit 2020_1.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Autodesk Revit 2020</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/civil3d.jpg" rel="portfolio" title="Autodesk Civil 3D">
                        <img src="images/portfolio/civil3d.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Autodesk Civil 3D</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Investigación3.png" rel="portfolio" title="UPTAEB_Investigación">
                        <img src="images/portfolio/Investigación3.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Investigación</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- .portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                   <a href="images/portfolio/docencia_universitaria_4.png" rel="portfolio" title="Diplomado Educación Universitaria">
                        <img src="images/portfolio/docencia_universitaria_4.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Diplomado Educación Universitaria</a>
                                <span class="text-category"></span>
                            </div>-->
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/docencia_universitaria_4a.png" rel="portfolio" title="Diplomado Educación Universitaria_Calificación">
                        <img src="images/portfolio/docencia_universitaria_4a.png" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">DEU_Calificación</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->

            </div>				
            <!-- /.portfolio -->

            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/seguridad_5.png" rel="portfolio" title="Certificado Seguridad Laboral">
                        <img src="images/portfolio/seguridad_5.png" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Seguridad Laboral</a>
                                <span class="text-category">Seguridad Laboral</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/seguridad_5a.png" title="Seguridad Laboral_Calificación" rel="portfolio">
                        <img src="images/portfolio/seguridad_5a.png" alt="Typography Company"" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Seg.Laboral</a>
                                <span class="text-category">Calificación</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/cultura_paz_6.png" rel="portfolio">
                        <img src="images/portfolio/cultura_paz_6.png" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Diplomados</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/ponenciaCAD_7.png" title="Ponencia UCLA_CAD." rel="portfolio">
                        <img src="images/portfolio/ponenciaCAD_7.png" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Ponencia</a>
                                <span class="text-category">CAD</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/coordinaciones_8.png" rel="portfolio" title="Coordinaciones CAD">
                        <img src="images/portfolio/coordinaciones_8.png" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Coordinaciones CAD</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/coordinaciones_8a.png" title="" rel="portfolio" title="Coordinaciones CAD">
                        <img src="images/portfolio/coordinaciones_8a.png" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Coordinaciones CAD</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="images/portfolio/formacion_docente_9.png" rel="portfolio">
                        <img src="images/portfolio/formacion_docente_9.png" alt="QR Quick Response" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Formación Profesional</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="images/portfolio/tutorias_10.png" title="" rel="portfolio">
                        <img src="images/portfolio/tutorias_10.png" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tutoría Sist. de Iluminación</a>
                                <span class="text-category">Instituto Autónomo de Ferrocarriles</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/tutorias_10a.png" rel="portfolio">
                        <img src="images/portfolio/tutorias_10a.png" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tutorías_Sist. Contra Incendio</a>
                                <span class="text-category"> Unidad Quirúrgica del Centro</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/tutorias_10b.png" rel="portfolio">
                        <img src="images/portfolio/tutorias_10b.png" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tutorías Sist. Extracción y Ventilación</a>
                                <span class="text-category">Revestivensa c.a.</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/honor11.jpg" rel="portfolio">
                        <img src="images/portfolio/honor11.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Cuadro de Honor UCLA</a>
                                <span class="text-category">Decanato Ingeniería Civil</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/UPTAEB_2.jpg" rel="portfolio">
                        <img src="images/portfolio/UPTAEB_2.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">UPTAEB</a>
                                <span class="text-category">UPTAEB Reconocimiento</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->